* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.cfg text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.ttf binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.mp4 binary
*.avi binary
*.pt binary

